<!doctype html>
<html>
<head>
<title>IGDB API How-To</title>
</head>
<body>
<div>Future Site of the IGDB API How-to-Guide!</div>
<div>It is a work in Progress.</div>
<a href="http://www.yahoo.com">Next-></a>
</body>
</html>
