
<div>Future Site of the IGDB API How-to-Guide!</div>
<div>It is a work in Progress.</div>
<div>Still working on it!</div>

<br></br>

<h1>The data you sent in the variable myGames is: {{sentData}}</h1>




